/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

nav, footer {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

nav a {
    color: #fff; /* Texto blanco para los enlaces del nav */
    padding: 14px 20px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

main {
    flex: 1;
}

.title {
    font-size: 2em;  /* Tamaño del título */
    color: #333;  /* Color del texto */
    font-weight: bold;  /* Negrita */
}

.subtitle {
    font-size: 1.5em;  /* Tamaño del subtítulo */
    color: #666;  /* Color del texto */
    font-style: italic;  /* Cursiva */
}

.category {
    font-size: 1.2em; /* Tamaño de la categoría */
    color: #ff6600; /* Color llamativo, por ejemplo, naranja */
    font-weight: bold; /* Negrita para resaltar */
    margin-top: 5px; /* Espacio superior */
}

.post-image {
    width: 100%;  /* Ajusta al ancho del contenedor */
    max-width: 600px;  /* Máximo ancho */
    height: auto;  /* Mantiene la proporción */
    border: 2px solid #ddd;  /* Borde */
    margin-top: 10px;  /* Espacio superior */
}

.post {
    margin-bottom: 40px; /* Espacio entre posts */
}

.button {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de la letra */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Asegura que el botón esté debajo de la imagen */
    margin-top: 10px; /* Espacio superior */
}

.button:hover {
    background-color: #555; /* Fondo gris oscuro al pasar el mouse */
    color: #fff; /* Mantiene el texto blanco */
}
