{% load static %}

<!doctype html>
<html lang="es-ar">
    <head>
        <title>Page Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link href="{% static 'style.css' %}" rel="stylesheet">
    </head>

    <body>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'apps.posts:posts' %}">Posts</a>
            <a href="{% url 'apps.contact:Contact' %}">Contact</a>
            <a href="#about">About</a>
        </nav>

        <main>
            {% block content %}

            {% endblock %}
        </main>

        <footer>
            <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
        </footer>

    </body>
</html>

