{% extends 'base.html' %}

{% load static %}

{% block title %}Registro de usuario{% endblock title %}

{% block content %}

<center>
<form method="POST" style="margin-top: 300px;">
    <h1 class="hi">Iniciar sesión</h1>
    <div class="messages">
        {% for message in messages %}
        <table{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table >
        {% endfor %}
    </div>
    {% csrf_token %}
    <div class="container">
        <table>{{ form }}</table>
    </div>
    <br>
    <a style="color: black;" href="{% url 'apps.user:register' %}">¿Todavía no estás registrado? Registrate</a>
    <a style="color: black;" href="{% url 'apps.user:password_reset' %}">¿Olvidaste tu contraseña?</a>
    
    <br>
    <button type="submit" class="btn btn-success btn-lg px-3">Iniciar sesión</button>
</form>
</center>

{% endblock %}