{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="contact-us">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="down-contact">
                  <div class="row">
                      <div class="col-lg-8">
                          <div class="sidebar-item contact-form">
                              <div class="sidebar-heading">
                                  <h2>Envíanos un mensaje</h2>
                              </div>
                              <div class="content">
                                  <center>
                                    <form method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      {{ form.as_p }}
                                      <button type="submit">Publicar</button>
                                    </form>
                                  </center>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>

{% endblock %}