{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="text-content">
                      <h4>Importante</h4>
                      <h2>¡La seguridad!</h2>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>

<!-- Banner Ends Here -->
<section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img class="post-image" src="{{ posts.image.url }}" alt="Imagen del Post">
                  </div>
                  <div class="down-content">
                    <span>{{ posts.category }}</span>
                    <h4>{{ posts.title }}</h4></a>
                    <ul class="post-info">
                      <li><a href="#">Admin</a></li>
                      <li><a href="#">May 12, 2020</a></li>
                      <li><a href="#">10 Comments</a></li>
                    </ul>
                    <p>{{ posts.text }}</p>
                    <div class="post-options">
                      <div class="row">
                        <div class="col-6">
                          <ul class="post-tags">
                            <li><i class="fa fa-tags"></i></li>
                            <li><a href="#">Best Templates</a>,</li>
                            <li><a href="#">TemplateMo</a></li>
                          </ul>
                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><a href="#">Facebook</a>,</li>
                            <li><a href="#"> Twitter</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}


